{{define "tribe/follow.html"}}
{{template "base"}}
<div id="followlist">
    <h1>你的关注</h1>
    <div class="follow">
        <div class="all">全部信息</div>
        <ul class="follow-friends">
            <li v-for="(item,index) in 20" :key="index">
                <div style="border:1px solid #000000;border-radius: 50%">
                    <img src="/static/img/小火龙官方图.png" alt="用户">
                </div>
                <div>
                    <p>杨腾</p>
                </div>
            </li>
        </ul>
    </div>
    <ul class="hot">
        <li v-for="(item,index) in 20" :key="index">
            <div class="hot-image">
                <i class="hot-icon">他点赞了该文章</i>
                <a href="">
                    <img src="/static/img/妙蛙种子官方图.png" alt="">
                </a>
            </div>

            <div class="hot-content">
                <h3>介绍：震惊又一次赢麻了</h3>
                <p>
                    士大夫精神的时代精神的房间无论发生的封建时代离开房间圣诞快乐附件是的离开就
                </p>
            </div>
        </li>
    </ul>

</div>
<script>
    new Vue({
        el: "#followlist",
        data(){
            return{

            }
        },
        methods:{

        }
    })
</script>

<style>
    #followlist *{
        padding: 0;
        margin: 0;
    }
    #followlist {
        padding: 30px 0 0 30px;
    }
    #followlist a{
        text-decoration: none;
        color: #0a0a0a;
    }
    #followlist .hot{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    #followlist .hot li{
        list-style: none;
        text-decoration: none;
        padding: 20px;
        display: flex;
        max-height: 300%;
        max-width: 300px;
        position: relative;
        border-radius: 7px;
        background: #595959;
        box-shadow: 5px 5px 10px #595959, -5px -5px 10px #626262;
        margin:0 20px 20px 0;
        cursor: pointer;
    }
    #followlist .hot li .hot-image{
        flex: 0.3;

    }
    #followlist .hot li .hot-image img{
        width: 100%;
        height: auto;
    }
    #followlist .hot li .hot-content{
        flex: 0.7;
        padding-left: 15px;
    }
    #followlist h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
        border-left: 10px solid #a0d911;
    }
    #followlist .hot-icon{
        position: absolute;
        top: 10px;
        left: 10px;
        background: #cccccc;
        color: #fffffc;
        min-width: 20px;
        min-height: 20px;
        border-radius: 10%;
    }
    #followlist .follow {
        display: flex;
        flex-direction: row;
        padding: 20px;
        border-radius: 8px;
        background: #fffffc;
        box-shadow: 5px 5px 10px #595959, -5px -5px 10px #595959;
        margin:0 20px 20px 0;
    }
    #followlist .follow-friends {
        text-display: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        max-width: 800px;
        overflow: scroll;
    }

    #followlist .follow-friends li {
        margin-left: 20px;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
    }

    #followlist .follow-friends li:hover{
        color: skyblue;
    }

    #followlist .follow-friends li img {
        width: 45px;
        height: auto;
        border-radius: 50%;
    }
    #followlist .follow .all{
        line-height: 50px;
        font-size: 1.5em;
        font-weight: bold;
        cursor: pointer;
    }
    #followlist .follow .all:hover{
        color: skyblue;
    }

</style>
{{end}}