{{define "tribe/recommend.html"}}
{{template "base"}}
<div id="recommendRoot">
  <h1>热门推荐</h1>
  <ul class="hot">
    <li v-for="(item,index) in data" :key="index" @click="relation(item.article_id)">
      <i class="hot-icon" v-text="item.type"></i>
      <div class="hot-image">
        <a href="">
          <img :src="item.image_url?item.image_url:'/static/img/妙蛙种子官方图.png'" alt="">
        </a>
      </div>

      <div class="hot-content">
        <h3 v-text="item.title">介绍：震惊又一次赢麻了</h3>
        <p v-text="item.description">
          士大夫精神的时代精神的房间无论发生的封建时代离开房间圣诞快乐附件是的离开就
        </p>
      </div>

    </li>
  </ul>

</div>
<script src="/static/js/axios.js"></script>
<script>
  new Vue({
    el: "#recommendRoot",
    data(){
      return{
          data:[]
      }
    },
    methods:{
        relation(id){
           open('/tribe/article/'+id)
        }
    },
    created(){
        axios.get('/tribe/api/recommend/').then(res => {
            if(res.data.code){
              this.data = res.data.data
            }else{
              alert(res.data.msg)
            }
        })
    }
  })
</script>

<style>
  #recommendRoot *{
    padding: 0;
    margin: 0;
  }
  #recommendRoot {
    padding: 30px 0 0 30px;
  }
  #recommendRoot a{
    text-decoration: none;
    color: #0a0a0a;
  }
  #recommendRoot .hot{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  #recommendRoot .hot li{
    list-style: none;
    text-decoration: none;
    padding: 20px;
    display: flex;
    max-height: 300%;
    max-width: 300px;
    position: relative;
    border-radius: 7px;
    background: #595959;
    box-shadow: 5px 5px 10px #505050, -5px -5px 10px #626262;
    margin:0 20px 20px 0;
    cursor: pointer;
  }
  #recommendRoot .hot li .hot-image{
    flex: 0.3;

  }
  #recommendRoot .hot li .hot-image img{
    width: 100%;
    height: auto;
  }
  #recommendRoot .hot li .hot-content{
    flex: 0.7;
    padding-left: 15px;
  }
  #recommendRoot h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    border-left: 10px solid #a0d911;
  }
  #recommendRoot .hot-icon{
    position: absolute;
    top: 10px;
    left: 10px;
    backdrop-color:red ;
    color: #fffffc;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10%;
  }
  #recommendRoot .hot li:hover{
    /*    变大一点五倍*/
    transform: scale(1.05);
    transition: all .5s;
  }
</style>
{{end}}