{{define "head"}}

<head>
    <link rel="stylesheet" href="/static/mycss/body/head.css">
</head>

<body>

    <div class="head-real"></div>
    <div id="tophead">
        <!-- 这个是logo -->
        <div class="logo-head">
            <a href="/" style="flex: 0.3;">
                <img src="/static/img/favicon.ico" style="display: block;border-radius: 30px;" alt="logo" width="48px"
                    height="48px">
            </a>
            <p>
                <a href="/"
                    style="flex: 0.1;text-align: center;line-height: 10px;font-weight:800;font-style: italic;font-size:large;">Pokemon
                    WiKi</a>
            </p>
        </div>
        <!-- 这个是需要展示的导航栏 -->
        <div class="left-head">
            <ul>
                <li>
                    <a href="/body/index" target="win-root">功能区</a><i class="bi bi-caret-down-fill"></i>
                </li>
                <li>
                    <a href="/tribe/" v-if="user.name == ''">部落</a>
                    <a href="/tribe/" v-if="user.name != ''" target="win-root">部落</a>
                    <i class="bi bi-caret-down-fill"></i>
                </li>
                <li>
                    <a>对战室</a><i class="bi bi-caret-down-fill"></i>
                </li>
                <li>
                    <a>商城</a><i class="bi bi-caret-down-fill"></i>
                </li>
                <li>
                    <a>在线玩</a><i class="bi bi-caret-down-fill"></i>
                </li>
            </ul>
        </div>
        <div class="right-head">
            <div class="search">
                <div class="binyin-search">
                    <i class="bi bi-search search-icon"></i><input class="search-hert"
                        style="border: 0px;width: 200px;font-weight:800;" type="text" placeholder="Search">
                </div>
            </div>
            <div>
                <a href="#">VIP 会员服务</a><i class="bi bi-caret-down-fill"></i>
            </div>
            <div style="display: flex;">
                <img @click="jump_login" :src="user.head_portrait===''?'http://localhost:4001/static/img/favicon.ico':user.head_portrait"
                    class="head_portrait" alt="logo">
                <a style="display: block;line-height: 50px;padding-left: 10px;cursor: pointer;" @click="jump_login" v-text="user.name===''?'未登入':user.name"></a>
            </div>
        </div>
    </div>

    <script src="/static/js/vue.js"></script>
    <script src="/static/js/jquery-3.6.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script>

        function ax(option) {
            return $.ajax({
                url: option.url,
                method: option.method || "post",
                data: option.data || {},
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem("token"),
                }
            })
        }

        let vue = new Vue({
            el: '#tophead',
            data() {
                return {
                    user: {
                        head_portrait:'',
                        name:''
                    },
                    user_text: "Ni hao shi jie",
                    win_root:false
                }
            },
            methods: {
                jump_login() {
                    let token = localStorage.getItem("token")
                    
                    if(token !== ''&&token!== null&&token !== undefined){
                        window.location.href = '/user/personal';
                    }else{
                        window.location.href = '/user/login';
                    }
                }
            },
            watch: {

            },
            created() {
                console.log("来到了这里过");
                console.log(localStorage.getItem("token"));
                ax({
                    url: "/user/",
                    method: "get",
                }).then(res => {
                    console.log(res);
                    if (res.code === 200) {
                        this.user = res.data
                        console.log('假装他是给user:'+this.user);
                    } else {
                        localStorage.setItem('token', '')
                    }
                })
            },
        })
    </script>
</body>

</html>
{{end}}