*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}



/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.4);
}

.but-item {
    background-color: rgba(245, 245, 245, 0.5);
    border: 1px solid #cccc;
    border-radius: 5px;
}
.but-item:hover {
    background-color: rgba(245, 245, 245, 0.9);
}

.but-item-warning {
    background-color: rgba(230, 162, 60, 0.8);
    color: white;
    height: 40px;
    min-width: 80px;
    border: 1px solid #cccc;
    border-radius: 5px;
}

.but-item-warning:hover {
    background-color: rgba(230, 162, 60, 0.9);
}

.but-item-error {
    background-color: rgba(245, 108, 108,0.9);
    color: white;
    height: 40px;
    min-width: 80px;
    border: 1px solid #cccc;
    border-radius: 5px;
}

.but-item-error:hover {
    background-color: rgba(245, 108, 108, 1);
}

.but-item-blue {
    background-color: rgba(64, 158, 255,0.9);
    color: white;
    height: 40px;
    min-width: 80px;
    border: 1px solid #cccc;
    border-radius: 5px;
}

.but-item-blue:hover {
    background-color: rgba(64, 158, 255, 1);
}