{{define "body/model.html"}}

{{template "base"}}
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="/static/mycss/body/model.css">

<div id="appmodel">
    <!-- 上面是一些动态模块，介绍宝可梦的最新进展-->
    <el-row id="app_model_vue" class="model-1">
        <el-col :span="12">
            <div class="model-dynamic">

                <div class="model-dynamic-title"><i style="color: #f759ab;">快报:</i> 智蛙终将闪电归来,以雷霆之势虐杀全场</div>

                <el-carousel height="50%">
                    <el-carousel-item v-for="(item,index) in image" :key="index">
                        <a :href="'/tribe/article/'+item.article_id">
                            <img class="exhibition-image" :src="item" :alt="index">
                        </a>
                    </el-carousel-item>
                </el-carousel>

                <div class="model-dynamic-content">

                    <div class="info">

                        <h2><i class="el-icon-info"></i> 近日咨询</h2>
                        <div v-for="(item, index) in news" :key="index" style="text-align: left;">
                            <a :href="'/tribe/article/'+item.article_id" target="_blank" class="link">
                                <i class="bi bi-newspaper" style="color: #efdbff;"></i>
                                <span class="span-text" style="color: #efdbff;" v-text="item.title">

                                </span>
                            </a>
                        </div>

                    </div>

                    <div class="periphery">

                        <h2><i class="el-icon-help"></i> 周边信息</h2>
                        <ul>
                            <li class="block" v-for="(item, index) in around" :key="index">
                                <!-- 这个用于显示图片 -->
                                <div class="consult-image"></div>
                                <p>
                                    <span style="font-size: 14px;overflow: hidden;-webkit-line-clamp: 1;width: 400px;" v-text="item.title"></span> <br>
                                    <span v-text="item.description"></span>
                                </p>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>
        </el-col>

        <!-- 动态推荐模块，介绍宝可梦的一些有趣的事情 -->
        <el-col :span="12">
            <div class="model-recommend">
                <!-- 宝可梦标题 -->
                <div class="pkm-title" v-text="'本期的主角--'+pkmnowType.title"></div>

                <!-- 这个是介绍宝可梦实际内容的地方 -->
                <div class="bkm-bg-content">

                    <!-- 用于放置宝可梦的图表信息 -->
                    <div class="bkm-chart">

                        <!-- 这个盒子用于存放宝可梦的肖像 -->
                        <div class="bkm-image-box">
                            <el-image style="
                            width: auto;
                            height: 85%;
                            display: block;
                            border-radius: 8px;" :src="showpkom.image" :alt="showpkom.name">
                            </el-image>
                            <el-button type="danger" @click="top">查看图鉴全部信息</el-button>
                        </div>

                        <!-- 这里放它的图表信息,我们看见的肯定是蜘蛛图 -->
                        <div id="container"></div>

                        <!-- 下面这个是它的详细图表信息 -->
                        <div class="bkm-chart-info">
                            <h2>种族值</h2>
                            攻击力:<el-progress class="pkm-progress-bar" :percentage="showpkom.attack"></el-progress>
                            防御力:<el-progress class="pkm-progress-bar" :percentage="showpkom.defense">
                            </el-progress>
                            特攻:<el-progress class="pkm-progress-bar" :percentage="showpkom.sp_attack">
                            </el-progress>
                            物攻:<el-progress class="pkm-progress-bar" :percentage="showpkom.attack" status="success">
                            </el-progress>
                            特防:<el-progress class="pkm-progress-bar" :percentage="showpkom.sp_defense" status="warning">
                            </el-progress>
                            速度:<el-progress class="pkm-progress-bar" :percentage="showpkom.speed" status="exception">
                            </el-progress>
                        </div>

                    </div>

                    <!-- 这个是用文字介绍宝可梦的基础信息盒子 -->
                    <div class="bkm-text">
                        <!-- 介绍宝可梦的基础信息 -->
                        <div class="attribute">
                            <div>
                                <h2>属性</h2>
                                <div class="attribute-into" v-text="showpkom.property"></div>
                            </div>
                            <div>
                                <h2>分类</h2>
                                <div class="attribute-into" v-text="showpkom.category"></div>
                            </div>
                            <div>
                                <h2>特性</h2>
                                <div class="attribute-into" v-text="showpkom.ability"></div>
                            </div>
                        </div>

                        <!-- 介绍宝可梦的详细信息 -->
                        <div class="attribute-detailed">
                            <div>
                                <h2>身高</h2>
                                <div class="attribute-into" v-text="showpkom.height"></div>
                            </div>
                            <div>
                                <h2>体重</h2>
                                <div class="attribute-into" v-text="showpkom.weight"></div>
                            </div>
                            <div>
                                <h2>体型</h2>
                                <div class="attribute-into">
                                    <img :src="showpkom.body==''?'//media.52poke.com/wiki/thumb/c/cc/Body08.png/32px-Body08.png':showpkom.body"
                                        alt="">
                                </div>
                            </div>
                            <div>
                                <h2>脚印</h2>
                                <div class="attribute-into">
                                    <img :src="showpkom.foot==''?'//media.52poke.com/wiki/2/22/F004.png':showpkom.foot"
                                        alt="">
                                </div>
                            </div>
                            <div>
                                <h2>性别变化</h2>
                                <el-radio-group v-model="sex">
                                    <el-radio :label="0">公</el-radio>
                                    <el-radio :label="1">母</el-radio>
                                </el-radio-group>
                            </div>
                            <div>
                                <h2 style="margin-top: 8px;">推荐性格</h2>
                                <div class="attribute-into">胆小+速度</div>
                            </div>
                        </div>
                    </div>

                    <!-- 介绍宝可梦的攻击属性,防御属性 -->

                </div>

                <p class="introduce" v-text="showpkom.name +','+ showpkom.property+','+showpkom.category+','+showpkom.ability"></p>
            </div>
        </el-col>
    </el-row>

    <!-- 音乐模块 -->
    <div class="model-4">
        <div class="model-music">
            <h2 class="pkm-title music-title">音乐</h2>
            {{template "component/music.html"}}
        </div>
    </div>

    <!-- 这里介绍宝可梦的发展历史 -->

    <div class="model-2">
        <div class="model-history">
            <h2 class="pkm-title">历史</h2>
            <div class="music-component">
                {{template "component/scroll_box"}}
            </div>
        </div>
    </div>

    <style>
        h2.pkm-title.music-title {
            margin: 20px 0px;
        }
        .music-component{
            margin:0 auto;
        }
        .player{
            margin:0 auto;
        }
    </style>

    <div class="model-3">

        <div class="model-news">
            <h2 class="pkm-title">相关推荐</h2>
            {{template "component/book-box.html"}}
        </div>
    </div>
</div>

<!-- 引入图表库 -->
<script src="/static/js/chart.js"></script>
<!-- <script src="/static/js/axios.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const modelapp = new Vue({
        el: '#app_model_vue',
        data() {
            return {
                msg: 'Hello Vue!',
                sex: 0,
                image: [
                    "/static/img/bkm1.jpg",
                    "/static/img/bkm2.jpg",
                    "/static/img/bkm3.jpg",
                    "/static/img/bkm4.jpg",
                ],
                news: [],
                around: [],
                pokemons: [],
                pkmnowType: {},
                showpkom: {},
            }
        },
        methods: {
            chart() {
                var dom = document.getElementById('container');
                var myChart = echarts.init(dom, 'light', {
                    renderer: 'canvas',
                    useDirtyRect: false
                });
                var app = {};

                var option;

                option = {
                    radar: {
                        // shape: 'circle',
                        indicator: [{
                                name: '攻击力',
                                max: 200
                            },
                            {
                                name: '防御力',
                                max: 200
                            },
                            {
                                name: '特攻',
                                max: 200
                            },
                            {
                                name: '特防',
                                max: 200
                            },
                            {
                                name: '速度',
                                max: 200
                            },
                        ]
                    },
                    series: [{
                        name: 'Budget vs spending',
                        type: 'radar',
                        data: [{
                            value: [this.showpkom.attack, this.showpkom.defense, this
                                .showpkom.sp_attack, this.showpkom.sp_defense, this
                                .showpkom.speed
                            ],
                            name: 'Allocated Budget'
                        }]
                    }]
                };

                if (option && typeof option === 'object') {
                    myChart.setOption(option);
                }

                window.addEventListener('resize', myChart.resize);
            },
            top(){
                location.href = '/wiki/atlaslist'
            }
        },
        created() {
            // 弹出一个消息框
            this.$message({
                message: '欢迎来到这个社区,很高兴认识你,为我们新的伙伴而感到开心',
                type: 'success'
            });

            // 获取各个模块页面的数据
            // 获取左模块数据
            axios({
                method: 'get',
                url: '/homepage/left_data',
            }).then((result) => {
                if (result.data.code == 200) {
                    this.news = result.data.data.news;
                    this.around = result.data.data.around;
                }
            }).catch((err) => {
                this.$message({
                    message: '获取左模块数据失败',
                    type: 'error'
                });
            });

            // 获取右模块数据
            axios({
                method: 'get',
                url: '/homepage/right_data',
            }).then((result) => {
                if (result.data.code == 200) {
                    this.pokemons = result.data.data.pkms;
                    this.pkmnowType = result.data.data.now_pkm[0];
                    this.showpkom = this.pokemons[0];
                    this.chart();
                }
            }).catch((err) => {
                this.$message({
                    message: '获取右模块数据失败',
                    type: 'error'
                });
            });

            // 获取music数据
            axios({
                method: 'get',
                url: '/homepage/music',
            }).then((result) => {
                console.log(result)
            }).catch((err) => {
                this.$message({
                    message: '获取music数据失败',
                    type: 'error'
                });
            });

            // 获取book数据
            axios({
                method: 'get',
                url: '/homepage/book',
            }).then((result) => {
                console.log(result)
            }).catch((err) => {
                this.$message({
                    message: '获取book数据失败',
                    type: 'error'
                });
            });

            // 获取title轮播条数据
            axios({
                method: 'get',
                url: '/homepage/title',
            }).then((result) => {
                console.log(result)
            }).catch((err) => {
                this.$message({
                    message: '获取title数据失败',
                    type: 'error'
                });
            });
        }
    })
</script>
{{end}}