{{define "wikifirst/atlas.html"}}
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
{{template "base"}}
<div id="atlas">
    <ul>
        <li>
            <h2>第一世代</h2>
            <p>这里主要是关都地区的Pokemon,对应着的动漫是Pokemon无印</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
        <li>
            <h2>第二世代</h2>
            <p>这里主要是成都地区的Pokemon，对应着动漫里面的Pokemon无印</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
        <li>
            <h2>第三世代</h2>
            <p>这里主要是芳缘地区的Pokemon，对应着动漫里面的PokemonAG新世代</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
        <li>
            <h2>第四世代</h2>
            <p>这里主要是神奥地区的Pokemon，对应着动漫里面的PokemonDB珍珠与钻石</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
        <li>
            <h2>第五世代</h2>
            <p>这里主要是合众地区的Pokemon，对应着动漫里面的PokemonBW黑白</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
        <li>
            <h2>第六世代</h2>
            <p>这里主要是卡洛斯地区的Pokemon，对应着动漫里面的PokemonXY</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
        <li>
            <h2>第七世代</h2>
            <p>这里主要是阿罗拉地区的Pokemon，对应着动漫里面的Pokemon太阳与月亮（官方汉化）</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
        <li>
            <h2>第八世代</h2>
            <p>新无印，旅途</p>
            <a href="/wiki/atlaslist">Læs mere om resultat</a>
        </li>
    </ul>
</div>
<script src="/static/js/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="/static/js/jquery-3.6.js"></script>
<script>
    let vue = new Vue({
        el: "#atlas",
        data() {
            return {

            }
        },
        methods: {

        },
        created() {

        },
    })
</script>

<style>
    #atlas {
        background-color: #604276;
        height: 100%;
    }
    #atlas ul {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        padding: 2rem 2rem;
        gap: 1rem;
        overflow-x: scroll;
        box-sizing: border-box;
    }

    #atlas ul li {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        position: relative;
        min-width: 5rem;
        min-height: 20rem;
        background-color: #1D365F;
        color: #FAC69B;
        border-radius: 10px;
        transition: min-width 0.5s;
        padding: 0 2rem 2rem 2rem;
        overflow: hidden;
    }

    #atlas ul li h2 {
        transform-origin: 60% 60%;
        transform: translate(-50%, -50%) rotate(-90deg);
        text-align: center;
        width: 26rem;
        margin: 2rem 0;
        transition: transform 0.5s;
    }

    #atlas ul li p,
    #atlas ul li a {
        transform-origin: 100% 50%;
        opacity: 0;
        width: 26rem;
        transition: opacity 0.5s, transform 0.5s;
        transform: translateY(1rem) rotate(-45deg);
    }

    #atlas ul li a {
        display: block;
        text-decoration: none;
        color: #ffffff;
    }

    #atlas ul li a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    #atlas ul li:hover {
        min-width: 26rem;
    }

    #atlas ul li:hover h2 {
        transform: rotate(0);
    }

    #atlas ul li:hover p,
    #atlas ul li:hover a {
        opacity: 1;
        transform: none;
    }
</style>
{{end}}