{{define "component/book-box.html"}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="/static/mycss/component/book-box.css">
</head>

<body>
    <section class="hero-section">
        <div class="card-grid">
            <a class="card" href="https://pokemmo.eu/?local=zh">
                <div class="card__background"
                    style="background-image: url(https://gameplus-platform.cdn.bcebos.com/gameplus-platform/upload/file/source/949c8b92e86441dbffbb517dbe237261.jpeg)">
                </div>
                <div class="card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">Pokemmo 不要钱的Pokemon网游</h3>
                </div>
            </a>
            <a class="card" href="https://game.portal-pokemon.com">
                <div class="card__background"
                    style="background-image: url(https://game.portal-pokemon.com/sword_shield/sc/img/banner-image.png)">
                </div>
                <div class="card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">Pokemon 剑盾 新世代Pokemon！</h3>
                </div>
            </a>
            <a class="card" href="https://www.pokemon.co.jp/ex/legends_arceus/sc/">
                <div class="card__background"
                    style="background-image: url(https://img1.baidu.com/it/u=3789142192,3801293644&fm=253&fmt=auto&app=120&f=JPEG?w=1230&h=692)">
                </div>
                <div class="card__content">
                    <p class="card__category">Category</p>
                    <h3 class="card__heading">Pokemon 阿尔宙斯 开放世界okemon</h3>
                </div>
                </li>
                <a class="card" href="https://pokeapi.co/">
                    <div class="card__background"
                        style="background-image: url(https://img1.baidu.com/it/u=4111492711,1389794696&fm=253&fmt=auto&app=138&f=JPEG?w=890&h=500)">
                    </div>
                    <div class="card__content">
                        <p class="card__category">Category</p>
                        <h3 class="card__heading">GitHUb 大佬开源的PokemonApi</h3>
                    </div>
                </a>
                <div>
    </section>
</body>

</html>



{{end}}