{{define "component/music.html"}}
<link rel="stylesheet" href="/static/mycss/component/music.css">
<script src="/static/myjs/component/music.js"></script>
<div class="player">

    <div class="player__header">

        <div class="player__img player__img--absolute slider">

            <button class="player__button player__button--absolute--nw playlist">

                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                  </svg>

            </button>

            <button class="player__button player__button--absolute--center play">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-pause" viewBox="0 0 16 16">
                    <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                  </svg>

                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg>
            </button>

            <div class="slider__content">

                <img class="img slider__img" src="/static/img/小火龙官方图.png" alt="cover">
                <img class="img slider__img" src="/static/img/妙蛙种子官方图.png" alt="cover">
                <img class="img slider__img" src="/static/img/杰尼龟官方图.png" alt="cover">
                <img class="img slider__img" src="/static/img/皮卡丘官方图.png" alt="cover">
                <img class="img slider__img" src="/static/img/火恐龙官方图.png" alt="cover">
                <img class="img slider__img" src="/static/img/喷火龙官方图.png" alt="cover">
                <img class="img slider__img" src="/static/img/电击魔兽官方图.png" alt="cover">

            </div>

        </div>

        <div class="player__controls">

            <button class="player__button back">

                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
                  </svg>

              

            </button>

            <p class="player__context slider__context">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                  </svg>
            </p>

            <button class="player__button next">

                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
                  </svg>

            </button>

            <div class="progres">

                <div class="progres__filled"></div>

            </div>

        </div>

    </div>

    <ul class="player__playlist list">

        <li class="player__song">

            <img class="player__img img" src="/static/img/烈咬陆鲨官方图.png" alt="cover">

            <p class="player__context">

                <b class="player__song-name">no time</b>
                <span class="flex">

                    <span class="player__title">烈咬陆鲨鱼的声音</span>
                    <span class="player__song-time"></span>

                </span>

            </p>

            <audio class="audio" src=""></audio>

        </li>

        <li class="player__song">

            <img class="player__img img" src="/static/img/火焰鸟官方图.png" alt="cover">

            <p class="player__context">

                <b class="player__song-name">火焰鸟的声音</b>
                <span class="flex">

                    <span class="player__title">火焰鸟的声音</span>
                    <span class="player__song-time"></span>

                </span>

            </p>

            <audio class="audio" src=""></audio>

        </li>

        <li class="player__song">

            <img class="player__img img" src="/static/img/烈焰猴官方图.png" alt="cover">

            <p class="player__context">

                <b class="player__song-name">烈焰猴的声音</b>
                <span class="flex">

                    <span class="player__title">烈焰猴的声音</span>
                    <span class="player__song-time"></span>

                </span>

            </p>

            <audio class="audio" src=""></audio>

        </li>

        <li class="player__song">

            <img class="player__img img" src="/static/img/超梦官方图.png" alt="cover">

            <p class="player__context">

                <b class="player__song-name">超梦的声音</b>
                <span class="flex">

                    <span class="player__title">超梦的声音</span>
                    <span class="player__song-time"></span>

                </span>

            </p>

            <audio class="audio" src=""></audio>

        </li>

        <li class="player__song">

            <img class="player__img img" src="/static/img/猫老大官方图.png" alt="cover">

            <p class="player__context ">

                <b class="player__song-name">猫老大的声音</b>
                <span class="flex">

                    <span class="player__title">猫老大的声音</span>
                    <span class="player__song-time"></span>

                </span>

            </p>

            <audio class="audio" src=""></audio>

        </li>

        <li class="player__song">

            <img class="player__img img" src="/static/img/皮卡丘官方图.png" alt="cover">

            <p class="player__context">

                <b class="player__song-name">皮卡丘的声音</b>
                <span class="flex">

                    <span class="player__title">皮卡丘的声音</span>
                    <span class="player__song-time"></span>

                </span>

            </p>

            <audio class="audio" src=""></audio>

        </li>

        <li class="player__song">

            <img class="player__img img" src="/static/img/烈咬陆鲨官方图.png" alt="cover">

            <p class="player__context ">

                <b class="player__song-name">烈咬陆鲨鱼的声音<span class="uppercase">4am</span> remix</b>
                <span class="flex">

                    <span class="player__title">烈咬陆鲨鱼的声音</span>
                    <span class="player__song-time"></span>

                </span>

            </p>

            <audio class="audio" src=""></audio>

        </li>

    </ul>

</div>
{{end}}