{{define "component/scroll_box"}}
<link rel="stylesheet" href="/static/mycss/component/scroll-box.css">
<body>
  <div id="box_container">

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="/static/img/红白球.png">
                <h3>开端</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
                <a href="#">一是开始，也是空</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="/static/img/高级球.png">
                <h3>繁华</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
                <a href="#">繁华亦是混乱的开端</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <img
                    src="/static/img/大师球.png">
                <h3>至今</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
                <a href="#">是一也是万</a>
            </div>
        </div>
    </div>
</div>  
</body>




{{end}}