* {
  color: #ffff;
}

#appmodel {
  width: 100%;
  height: 100%;
  background: #595959;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.exhibition-image{
  width: 60%;
  height: auto;
  display: block;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
}
 .pkm-title {
    color: #40a9ff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding: 5px;
    border-left: 10px solid #ff7875;
    margin-top: 20px;
}

.model-dynamic {
  background-color: #614276;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: 5px 5px 10px #573b6a, -5px -5px 10px #6b4982;
}

.model-dynamic .model-dynamic-title {
  color: #a8071a;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 20px;
  padding: 5px;
  border-left: 10px solid #30243d;
}

.model-dynamic .model-dynamic-content {
  display: flex;
}

.model-dynamic .model-dynamic-content .info,
.periphery {
  flex: 0.5;
  text-align: center;
  max-height: 250px;
  margin-top: 20px;
  /* 这个属性实现，超过范围的元素滚动条显示 */
  overflow-y: auto;
  overflow-x: hidden;
}

.model-dynamic .model-dynamic-content .periphery .block {
  cursor: pointer;
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  background: #4f3b5c;
  box-shadow: 0 0 15px 0 hsl(203deg 6% 45% / 9%);
  border-radius: 8px;
  float: left;
  transition: transform 0.5s;
  margin: 5px 10px;
}

.model-dynamic .model-dynamic-content .periphery .block .consult-image {
  background: url("/static/img/favicon.ico") no-repeat center center;
  background-size: cover;
  width: 120px;
  height: auto;
  border-radius: 5px;
}

.model-dynamic .model-dynamic-content .periphery .block:hover .consult-image {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.model-dynamic .model-dynamic-content .periphery .block p {
  padding-left: 10px;
  padding-top: 10px;
  color: #ffff;
  font-size: 8px;
  font-weight: bold;
  text-align: left;
}

.model-dynamic .model-dynamic-content .info {
  
}

.model-dynamic .model-dynamic-content .info .link {
  display: block;
  width: 100%;
  height: 27px;
  padding: 5px 10px;
  border-bottom: #ffff 1px dashed;
  margin-top: 10px;
  line-height: 10px;
  text-decoration: none; 
}

.model-recommend {
  background-color: linear-gradient(135deg, #65799b, #5e2563);
  height: 100%;
  width: 100%;
  color: aliceblue;
  padding: 10px;
  position: relative;
}

.model-recommend .pkm-title {
  color: #f66c6c;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  border-left: 10px solid #f66c6c;
  position: absolute;
  top: 0;
}

.model-recommend .introduce,
.bkm-chart,
.bkm-text {
  margin-top: 11px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 7px;
  background: #595959;
  box-shadow: 5px 5px 10px #505050, -5px -5px 10px #626262;
}

.model-recommend .introduce {
  border-left: 6px solid #f66c6c;
  color: #ffff;
  font-size: 15px;
  margin: 11px 0 1rem 5px;
  padding: 6px 20px;
  width: 480px;
}

.bkm-bg-content {
  color: #ffff;
  text-align: left;
}

.bkm-bg-content h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.model-recommend .bkm-chart {
  display: flex;
  margin-top: 30px;
}

.bkm-text {
  display: flex;
}

.bkm-image-box {
  flex: 0.2;
  text-align: center;
  margin-right: 10px;
}

.pkm-progress-bar {
  width: 180px;
}

.el-progress__text {
  color: #f06d72;
}

#container {
  flex: 0.6;
  max-width: 800px;
  max-height: 200px;
  text-align: center;
}

.bkm-chart-info {
  flex: 0.2;
  text-align: left;
  margin-left: 20px;
}

.bkm-chart-info {
  color: aqua;
}

.bkm-chart-info h2 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.attribute {
  flex: 0.25;
  height: 180px;
  display: flex;
  flex-flow: column wrap;
  padding-right: 20px;
}

.attribute div {
  margin-top: 5px;
  flex: 0.2;
}

.attribute-detailed {
  flex: 0.25;
  height: 180px;
  display: flex;
  flex-flow: column wrap;
}

.attribute-detailed div {
  margin-top: 5px;
  margin-right: 10px;
  flex: 0.2;
}

/* 火焰的颜色,象征着伟大的新生,这并不是一次远征,而是永恒的光明 */
.attribute-into {
  color: #f06d72;
}

.attribute-into :hover {
  color: #ffff;
}

.model-music {
  padding-top: 20px 0;
  margin: 0 auto;
}


