{{define "user/personal.html"}}
<head>
  <meta charset="UTF-8">
  <title>个人页面</title>
  <link rel="icon" href="/static/img/favicon.ico">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <!-- 引入组件库 -->
  {{template "base"}}
  <div id="userapp">
    <!-- 页头 -->
    <el-page-header @back="goBack" content="{{.title}}"></el-page-header>

    <el-row class="tac">
      <el-col :span="4">

        <el-menu default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"  @select="handleSelect">

          <el-menu-item index="1">
            <i class="el-icon-user"></i>
            <span slot="title">用户信息</span>
          </el-menu-item>

          <el-menu-item index="2">
            <i class="el-icon-headset"></i>
            <span slot="title">动态</span>
          </el-menu-item>

          <el-menu-item index="3">
            <i class="el-icon-s-finance"></i>
            <span slot="title">账户</span>
          </el-menu-item>

          <el-menu-item index="4">
            <i class="el-icon-setting"></i>
            <span slot="title">好友</span>
          </el-menu-item>

          <el-menu-item index="5">
            <i class="el-icon-edit-outline"></i>
            <span slot="title">我的作品</span>
          </el-menu-item>

          <el-menu-item index="6">
            <i class="el-icon-star-off"></i>
            <span slot="title">我的收藏</span>
          </el-menu-item>

          <el-menu-item index="7">
            <i class="el-icon-edit"></i>
            <span slot="title">写作</span>
          </el-menu-item>

          <el-menu-item index="8" v-if="is_admin">
            <i class="el-icon-s-check"></i>
            <span slot="title">Admin</span>
          </el-menu-item>

          <el-menu-item index="9">
            <i class="el-icon-setting"></i>
            <span slot="title">权限管理</span>
          </el-menu-item>

        </el-menu>

      </el-col>

      <!-- 这个是主要内容放置的地方 -->
      <el-col :span="20" v-loading="loading">
        <iframe class="main" :src="src" frameborder="0" scrolling="no"></iframe>
      </el-col>

    </el-row>
  </div>
</body>

<script>
  let vue = new Vue({
    el:'#userapp',
    data() {
      return {
        visible: false,
        text: "变身奥特曼",
        src:'/user/setting',
        is_admin: false,
        loading: false,
      }
    },
    methods: {
      goBack() {
        // window.history.back(); 按照历史返回上一个页面
        window.location.href = "/";
      },
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      },
      handleSelect(key, keyPath){
        this.loading = true;
        if(key == 1){
          this.src = "/user/setting"
          this.loading = false;
        }else if(key == 7){
          this.src = "/user/write"
          this.loading = false;
        }else if(key == 5){
          this.src = "/tribe/articleadmin/1"
          this.loading = false;
        }else if (key == 8){
          this.src = "/user/adminview"
          this.loading = false;
        }else if(key == 6){
          this.src = "/user/likeadmin"
          this.loading = false;
        }else if(key == 9){
          this.src = "/user/juradmin"
          this.loading = false;
        }
      }
    },
    mounted(){
      // 判断用户是否为管理员
      $.ajax({
        url: "/user/admin",
        type: "GET",
        dataType: "json",
        success(data){
          console.log(data)
          if(data.code === 200){
            vue.is_admin = true
          }
        }
      })
    }
  })
</script>

<style>
  .tac{
    margin-top: 40px;
  }
  .main{
    width: 100%;
    height: 100%;
  }
</style>

</html>
{{end}}