{{define "user/register.html"}}
<body>
    <div class="user-login" id="user-login">
        <!-- <audio autoplay>
            <source src="http://s2.3lbh.com/s/87EJ97gi.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> -->
        <div class="main-container">
            <!-- Start Pokemon Ball Top Part -->
            <div class="pokemon-top-part"></div>
            <!-- End Pokemon Ball Top Part -->
            <!-- Start Main Forms -->
            <div class="main-forms">
                <div class="signup-form">
                    <form class="sign-back" action="/user/" method="POST">
                        <h1>注册用户</h1>
                        <div :class="{'error':iserrortext,'success':!iserrortext}" v-text="error"></div>
                        <div class="signup-row">
                            <i class="fa fa-user"></i>
                            <input type="text" name="name" v-model="user.name" placeholder="用户名称">
                        </div>
                        <div class="signup-row">
                            <i class="fa fa-envelope-o"></i>
                            <input type="text" name="email" v-model="user.email" placeholder="邮箱地址">
                        </div>
                        <div class="signup-row">
                            <i class="fa fa-phone"></i>
                            <input type="text" name="phone" v-model="user.phone" placeholder="电话号码">
                        </div>
                        <div class="signup-row">
                            <i class="fa fa-key"></i>
                            <input type="password" name="password" v-model="user.password" placeholder="密码">
                        </div>
                        <div class="signup-row">
                            <i class="fa fa-key"></i>
                            <input type="password" name="next_password" v-model="next_password" placeholder="再次确认密码">
                        </div>
                        <div class="signup-row">
                            <a @click="register">
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="form-bottom">
                            <div class="remember">
                                <input type="checkbox" name="" value="">
                                <span>同意协议</span>
                            </div>
                            <div class="remember">
                                <a href="#">亲你有什么需要帮助的吗？</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Main Forms -->
            <!-- Start Pokemon Ball Bottom Part -->
            <div class="pokemon-bottom-part">
                <div class="white-part"></div>
                <div class="black-line"></div>
            </div>
            <!-- End Pokemon Ball Bottom Part -->
        </div>
        <!-- End Main Container -->
       
    </div>
</body>

<!-- Start Scripts -->
<script src="/static/js/jquery-3.6.js"></script>
<script src="https://use.fontawesome.com/7dddae9ad9.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script src="/static/js/vue.js"></script>
 <!-- End Scripts -->
<script>
    let vue = new Vue({
        el:'#user-login',
        data() {
            return {
                user:{
                    name:"",
                    email:"",
                    phone:"",
                    password:"",
                },
                next_password:"",
                error:"",
                iserrortext:true,
            }
        },
        methods: {
            register(){
                // 判断user对象各个属性不能为空
                if(this.user.name === ""){
                    this.error = "用户名不能为空";
                    return
                }

                if(this.user.password === ""){
                    this.error = "密码不能为空";
                    return
                }

                if(this.user.phone === ""){
                    this.error = "电话号码不能为空";
                    return
                }

                if(this.next_password === ""){
                    this.error = "确认密码不能为空";
                    return
                }

                // 验证各个属性是否符合要求

                // 如果全部符合要求就显示成功信息
                this.iserrortext = false;
                this.error = "信息符合要求";
                $.ajax({
                    url:'/user/',
                    method:'POST',
                    data:JSON.stringify(this.user),
                }).then(res=>{
                    if(res.code === 200){
                        alert("用户注册成功！")
                        // 注册成功了跳转到登入界面
                        window.location.href = "/user/login"
                    }else{
                        alert("用户注册失败！")
                    }
                })
            }
        },
    })
</script>
<script>
    $(document).ready(function () {
        var blackLine = $(".black-line"),
            ball = $(".main-container"),
            mainForm = $(".main-forms"),
            top = $(".pokemon-top-part"),
            bottom = $(".pokemon-bottom-part"),
            h = $(".sign-back h1"),
            row = $(".signup-row"),
            arrow = $(".signup-row a"),
            rem = $(".remember"),
            tl = new TimelineMax();

        // Start
        tl
            .to(blackLine, 0.5, {
                className: '+=red-circle'
            })
            .to(blackLine, 0.5, {
                className: '-=red-circle'
            })
            .to(blackLine, 0.5, {
                className: '+=red-circle'
            })
            .to(blackLine, 0.5, {
                className: '-=red-circle'
            })
            .to(blackLine, 0.5, {
                className: '+=red-circle'
            })
            .to(blackLine, 0.5, {
                className: '-=red-circle'
            })
            .to(blackLine, 0.5, {
                className: '+=red-circle'
            })
            .to(blackLine, 0.5, {
                className: '-=red-circle'
            })
            .to(ball, 0.5, {
                y: "-70%",
                ease: Power4.easeOut
            })
            .to(ball, 0.5, {
                y: "-50%",
                ease: Bounce.easeOut
            })
            .to(ball, 0.5, {
                y: "-85%",
                ease: Power4.easeOut
            }, "+=0.5")
            .to(ball, 0.5, {
                y: "-50%",
                ease: Bounce.easeOut
            })
            .to(ball, 0.5, {
                y: "-100%",
                ease: Power4.easeOut
            }, "+=0.5")
            .to(ball, 0.5, {
                y: "-50%",
                ease: Bounce.easeOut,
                onComplete: toggle
            });

        function toggle(o) {
            $(".main-forms").slideDown(1500);
            tl
                .to(top, 1, {
                    autoAlpha: 0
                })
                .to(bottom, 1, {
                    autoAlpha: 0
                }, "-=1")
                .fromTo(h, 1, {
                    autoAlpha: 0,
                    y: -20
                }, {
                    autoAlpha: 1,
                    y: 0
                }, "+=0.5")
                .staggerFrom(row, 1, {
                    left: "-100%",
                    autoAlpha: 0
                }, 0.2)
                .staggerFrom(rem, 1, {
                    cycle: {
                        y: [20, -20]
                    },
                    autoAlpha: 0
                }, 0.2)

        }

    })
</script>

<style>
    body{
      background: linear-gradient(135deg,#65799b,#5e2563);
    }
    .error {
        color:red;
        text-align: center;
        font-size: 8px;
    }
    .success {
        color: #a0d911;
        text-align: center;
        font-size: 8px;
    }
    .user-login * {
        padding: 0;
        margin: 0;
    }

    .user-login {
       
        height: 1000px;
    }

    .user-login .user-login {
        font-family: 'Ubuntu', sans-serif;
        background: url("https://lh3.googleusercontent.com/ohXfK_gejGdGoxN7Vzf2hE9EWsvXhR9AnPlRqylsbhSFn1hU2pDZ4dkG8Q8Wj8cd4g9hVGShd2X7qBSTkbWiX-2UmhH44u_-M4xpO2nMBYsi0ymKeMpfZFOMWXtTJW28YdTjVquwquv9pTTCBFpTnG_C8euEUgO08mXO63oDcqIN9bmSvh5B8MUDw2MJ_oYAMJoCi8UeI9nvfs7z3UbcQQPNYHyXgi0wKW9aMmz8ogaRUPHf5Z7tKv9Am8my9XsleXNzeZjlTY7qobFffw5xwpNBUGNYdPWfkF-XWQyhrcJsESwGFHUlFDtVvU_V6IOgHA-jZmnmu8e3_wBA50VTO713U-DoDMjhZliK1qSUoR9FBxcPE7Z_O3kVk9v5qFUgwO2wmybVKDmH9gn55vDnBEiHCr-0cfKJgJHYlgIFm3fwguGYtIEpYK5ucGAxjz_NPcM5fw9BNQ-M67dyM5eY9Tdav198oMNTAJLKGmdaEG4v8UqRsxk5hyFhOWeufn6vuaG2TrxB9_kDR5gaYroneuDaYB9CySvKyXo_AmqA3po7mGl8W0HBphFHzOPkfFqyGdpTfeJNurtKuuV99cb57kHxwieMwWCPwUNRFzZwOByzNyfcPkeVMgy8z7tpYj6Eb9SUpt8Y-6j9-Qj9lfxnHJNTZ0CTzxvJ-N_Mwya-YA=w1135-h638-no") no-repeat;
        background-size: cover;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .user-login .main-container {
        width: 500px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .user-login .pokemon-top-part {
        width: 200px;
        height: 100px;
        background: #F22613;
        margin: 0 auto;
        border-radius: 200px 200px 0 0;
        border: 5px solid #333;
    }

    .user-login .pokemon-bottom-part {
        position: relative;
    }

    .user-login .white-part {
        width: 200px;
        height: 100px;
        background: #ffffff;
        margin: 0 auto;
        border-radius: 0 0 200px 200px;
        border: 5px solid #333;
    }

    .user-login .black-line {
        width: 210px;
        height: 25px;
        background: #333;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .user-login .black-line::after {
        content: '';
        width: 50px;
        height: 50px;
        background: #333;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -25%);
    }

    .user-login .black-line::before {
        content: '';
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -2px);
        z-index: 999;
    }

    .user-login .signup-form {
        background: url("https://lh3.googleusercontent.com/6ObGgH3qiiOYrkZyd2dsxvvaulkjw2h-RF-I9764grYVGxz6dM_SYOW7EfUkvTIgUxtKOmpnYBrH0tDkJvsoYGLPYtAfgs_hM06Oyxo2QyiB19nNAOA0lqgQAX5Pf1i7qjCCN54cJnGW3jsmA2YbhHaL3cMSdKY8hzOk7QGXxyAALPANU-aQs88FlS9RT8uaL59K4yhFFHBhZzTZ9aj3dWxgrT0FRJy5fQJjM6qEZTnsrAc9cstFsyyYX7tHSQasMc9ER7ypAQjPHqj9gxEjLz4DDPFgY4vBx_3XgQ-fD5QdxCR3N5XuxFfovbeKwI2sPCfr4uP2IhNW684qPHD2uH1GCE1FQ8JZt8IXpsNevzVE0yNOmFGcHa064wGkTPCtjTQcZ0Y6KOnqBUDfKWqt5UkkKGz_C5QM3sDuMUHa6cNmwejLkF-RDrWNnPr_-6MYIziztw7ExYZYJ71HWEyPNRqREeSO6wgw2O38OyzTwE_eJ4K0KOYyqVGL8Jw9tn6bKpLJsoVtQ17rXg0N57uG41Jqa-P5q8AltDWmsePSzBstx5pAFbcrRkizwESHAlV_JnsYcNeIFUZTOSKDxZuvlafr9PVK3dbIdEp1EHz6QnM_6MCXRSaaP3Nu9FocxRd_nlOGDG1X-_sBpXLsmooM7bGmopx1HzUux9ROKzPyJg=w1135-h638-no") no-repeat;
        background-size: cover;
        border-radius: 21px;
    }

    .user-login .sign-back {
        background: linear-gradient(135deg, #000c40, #607d8b);
        border-radius: 10px;
        padding: 65px 0;
        border-radius: 21px;
        box-shadow: 13px 13px 26px #cacaca,
            -13px -13px 26px #f6f6f6;
    }

    .user-login .sign-back h1 {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-top: 0;
        letter-spacing: 5px;
        text-shadow: 1px 1px 1px #333
    }

    .user-login .signup-row {
        text-align: center;
        margin: 20px 0;
        position: relative;
    }

    .user-login .signup-row input {
        padding: 5px 0;
        border: 0;
        border-bottom: 1px solid #fff;
        background: transparent;
        width: 50%;
        text-align: center;
        outline: none;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
    }

    .user-login .signup-row input::-webkit-input-placeholder {
        color: #fff;
        text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.6)
    }

    .user-login .signup-row i {
        color: #fff;
        position: relative;
        left: 20px;
        text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.6)
    }

    .user-login .signup-row a {
        font-size: 40px;
        text-decoration: none;
    }

    .user-login .signup-row a i {
        left: 0;
    }

    .user-login .form-bottom {
        display: flex;
        justify-content: center;
    }

    .user-login .remember:not(:last-child) {
        margin-right: 30px;
        color: #ffff;
    }

    .user-login .remember:not(:last-child):hover {
        margin-right: 30px;
        color: #fff;
        transition: all 200ms;

    }

    .user-login .remember a {
        text-decoration: none;
        color: #ffff;
        transition: all 200ms;
    }

    .user-login .remember a:hover {
        text-decoration: none;
        color: #fff;
    }

    .user-login input[type="checkbox"] {
        position: relative;
        top: 1px;
        transition: all 200ms;

    }

    .user-login .main-forms {
        overflow: hidden;
        display: none;
        position: relative;
        border-radius: 21px;
    }

    .user-login .red-circle::before {
        background: #F22613;
    }
</style>

{{end}}